NAME={{ net_interface_name }}
DEVICE={{ net_interface_name }}
BOOTPROTO=none
ONBOOT=yes
PREFIX={{ net_prefix }}
IPADDR={{ net_ipaddr }}
GATEWAY={{ net_gateway }}
PEERDNS=no
DNS1={{ net_dns }}
IPV6INIT=no
