apiVersion: v1
baseDomain: {{  hostvars[groups.OSEv4[0]].cluster_domain }}
compute:
- hyperthreading: Enabled   
  name: worker
  replicas: 0 
controlPlane:
  hyperthreading: Enabled   
  name: master 
  replicas: {{ groups['masters'] | length }}
metadata:
  name: {{  hostvars[groups.OSEv4[0]].cluster_name }} 
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14 
    hostPrefix: 23 
  networkType: OpenShiftSDN
  serviceNetwork: 
  - 172.30.0.0/16
platform:
  none: {} 
pullSecret: '{{  hostvars[groups.OSEv4[0]].ocp_pullsecret | regex_replace("'", '"') | regex_replace('u"', '"') }}' 
sshKey: '{{  hostvars[groups.OSEv4[0]].ocp_sshkey }}' 

